# macOS
.DS_Store

# trae

.trae/

# Gradle
.gradle
build
build/
*.iml
local.properties
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ / K2 (Kotlin) / VSCode
.idea
.intellijPlatform
.kotlin
out/
.settings
*.ipr
*.iws
.vscode/
bin/